@model BudgetToolRAR.Models.BudgetItem


<!DOCTYPE html>
<html>
<head>
    <title>Budget Item</title>
</head>
<body class="background-dark">
    @*<div class="logo">
        <h3>Budget Tool</h3>
    </div>*@
    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-7">
            <section class="widget">
                <header>
                    <div class="widget-controls">
                    </div>
                </header>

                @using (Html.BeginForm())
                {


                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-offset-4 col-md-9">
                                <h3>Create Budget Item</h3>
                            </div>
                        </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, "Budget Item Name", htmlAttributes: new { @class = "control-label  col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control-create" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, "Amount per Month", htmlAttributes: new { @class = "control-label  col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control-create" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BudgetCategoryId, "Category", htmlAttributes: new { @class = "control-label  col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("BudgetCategoryId", null, htmlAttributes: new { @class = "form-control-create" })
                                @Html.ValidationMessageFor(model => model.BudgetCategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <br />
                            </div>
                            <div class="col-md-offset-2 col-md-3">

                                <input type="radio" name="budtype" value="Expense" required>Expense
                                <br>
                                <input type="radio" name="budtype" value="Income">Income

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <input type="submit" value="Create Budget Item" class="h4 btn btn-primary" />
                            </div>
                        </div>
                    </div>

                }
            </section>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>

