@model BudgetToolRAR.Models.Transaction


<!-- light-blue - v3.1.0 - 2014-12-06 -->

<!DOCTYPE html>
<html>
<head>
    <title>Edit Transaction</title>
</head>
<body class="background-dark">
    @*<div class="logo">
        <h3>Budget Tool</h3>
    </div>*@

    <div class="container">
        <br />
        <div class="content container">
        <div class="row">
            <section class="widget col-md-offset-2 col-md-5">
                <header>
                    <div class="widget-controls">
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">

                        <h3>Edit Transaction</h3>
                        <br />
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @*<h4>Transaction</h4>*@
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @*<div class="row">*@
                                    @Html.LabelFor(model => model.TransDate, "Date", htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                                    <div class="col-md-6" style="">
                                        @Html.EditorFor(model => model.TransDate, new { htmlAttributes = new { @class = "form-control-create" } })
                                        @Html.ValidationMessageFor(model => model.TransDate, "", new { @class = "text-danger" })
                                    </div>
                                @*</div>*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control-create", rows = 3, id = "text2" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BudgetCategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("BudgetCategoryId", null, htmlAttributes: new { @class = "form-control-create" })
                                    @Html.ValidationMessageFor(model => model.BudgetCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountId, "Account", htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("AccountId", null, htmlAttributes: new { @class = "form-control-create" })
                                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control-create" } })
                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ReconciledAmount, "Reconciled", htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ReconciledAmount, new { htmlAttributes = new { @class = "form-control-create" } })
                                    @Html.ValidationMessageFor(model => model.ReconciledAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>    @* Note form-control-create was originally set at 30% width this was creating a problem format wise , I set it to 100% *@

                            @*  <div class="form-group">
                                <div class="col-md-2">
                                   @* <label>Expense/Income</label> *@
                            @*       @Html.LabelFor(model => model.TransType, "Expense/Income", htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>
                                    <div class="col-md-10">

                                        <select name="transactiontype">
                                            <option value="Expense">Expense</option>
                                            <option value="Income">Income</option>
                                        </select>
                                    </div>
                                </div> *@

                            <div class="form-group">
                                <div class="col-md-2">
                                    <br />
                                </div>
                                <div class="col-md-offset-1 col-md-3">

                                    <input type="radio" name="trantype" value="Expense" @if (Model.TransType == true) { <text> checked</text>}>Expense
                                    <br>
                                    <input type="radio" name="trantype" value="Income" @if (Model.TransType != true) { <text> checked</text>}>Income

                                </div>
                            </div>


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)


                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-10">
                                    <input type="submit" value="Save Transaction" class="h4 btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
            </div>
    </div>


</body>
</html>



