@model IEnumerable<BudgetToolRAR.Models.Transaction>

@*@{
        ViewBag.Title = "Log in";
    }*@


<!-- light-blue - v3.1.0 - 2014-12-06 -->

<!DOCTYPE html>
<html>
<head>
    <title>Transactions</title>
</head>
<body class="background-dark">
    <div class="logo">
        <h3>Budget Tool</h3>
    </div>

    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <br />
        </div>
        <div class="col-md-6">
            @* <br /> *@

            <table cellpadding="0" cellspacing="0" border="0" id="data-table">
                <thead>
                    <tr>
                        <th style="width:100px;">Balance</th>
                        <th style="width:100px;">Reconciled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:100px; overflow:hidden;font-size: 14px;"> @ViewBag.prevBalance </td>
                        <td style="width:100px; overflow:hidden;font-size: 14px;"> @ViewBag.prevReconciled</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    <br /><br /><br />
        <div class="row">
            <div class="col-md-2">
                <br />
            </div>

            <div class="col-md-10">
                <a href="@Url.Action("TransactionCreateLb","Accounts")"><span class="name h4 btn btn-primary">Create a Transaction</span></a>
            </div>
        </div>
    <br />

    <div class="row">
        <div class="col-md-2">
            <br />
        </div>
        <div class="col-md-10">

            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <h3>Transactions</h3>
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table">
                        <thead>
                            <tr>
                                <th style="width:100px;">Date</th>
                                <th style="width:200px;">Description</th>
                                <th style="width:150px;">Category</th>
                                <th style="width:110px;">Amount</th>
                                <th style="width:110px;">Reconciled</th>
                                <th style="width: 70px;">Edit</th>
                                <th style="width:50px;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* If there are no accounts, will display the heading but will be blank for data, no errors will occur*@
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:100px; overflow:hidden;font-size: 14px;">
                                        @item.Date.ToString("MM/dd/yyyy")
                                        @*@Html.DisplayFor(u => item.Date, "{0:MM/dd/yyyy}")*@
                                    </td>
                                    <td style="width:200px; overflow:hidden;font-size: 14px;">
                                        @Html.DisplayFor(u => item.Description)
                                    </td>
                                    <td style="width:150px; overflow:hidden;font-size: 14px;">
                                        @Html.DisplayFor(u => item.BudgetCategory.Name)
                                    </td>
                                    <td style="width:110px; overflow:hidden;font-size: 14px;">
                                        @Html.DisplayFor(u => item.Amount)
                                    </td>
                                    <td style="width:110px; overflow:hidden;font-size: 14px;">
                                        @Html.DisplayFor(u => item.ReconciledAmount)
                                    </td>

                                    <td>
                                        @Html.ActionLink(" ", "TransactionEditLb", "Accounts", new { id = item.Id }, new { @class = "btn  white fa fa-edit" })
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "TransactionDeleteLb", new { id = item.Id }, new { @class = "btn white fa fa-trash" })
                                    </td>
                                </tr>
                            }
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>
    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>


    <div class="row">
        <div class="col-md-12"><br /></div>
    </div>

    <!-- page specific scripts -->
</body>
</html>

