@model BugtrackerRAR_2.Models.Ticket

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <br />
    <h2>Ticket Details</h2>

    <div>
        @*<h4>Ticket</h4>*@
        <hr />
        <dl class="dl-horizontal">
            @* DisplayFor - Renders the actual contents of the Property specified. *@
            @* DisplayNameFor - Renders the Name property within the Display Attribute.*@
            <dt>
                @Html.LabelFor(model => model.AssignedUser.DisplayName, "Assigned to")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedUser.DisplayName)
            </dd>

            <dt>
                @Html.LabelFor(model => model.OwnerUser.FirstName, "Owner")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerUser.FirstName)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Project.Name, "Project Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Name)
            </dd>

            <dt>
                @Html.LabelFor(model => model.TicketPriority.Name, "Priority")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketPriority.Name)
            </dd>

            <dt>
                @Html.LabelFor(model => model.TicketStatus.Name, "Status")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketStatus.Name)
            </dd>

            <dt>
                @Html.LabelFor(model => model.TicketType.Name, "Type")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketType.Name)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Title, "Title")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Description, "Description")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Created, "Created")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Updated, "Updated")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

        </dl>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title">History</h3>

            @foreach (var history in Model.TicketHistories)
            {
                <div class="container">


                    <p> Changed : @history.Changed   </p>

                    @if (@history.OldValue == null)
                    {
                        <p>  Developer was assigned  </p>
                        <br />
                    }
                    else
                    {
                        <p> Item that changed : @history.Property  </p>
                        <p> Previous value : @history.OldValue  </p>
                        <p> New value :  @history.NewValue  </p>
                        <br />
                    }
                </div>
            }
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="w-box blog-post">

                <div class="comments-wr">
                    <h3 class="section-title">Comments</h3>

                    <div class="well">
                        <h4>Leave a Comment:</h4>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form class="form-light" action="@Url.Action("AddComment","Tickets")" method="post" role="form">

                                <div class="form-group">
                                    @Html.AntiForgeryToken()
                                    <textarea class="form-control" name="Comment" placeholder="Write you comment here..."></textarea>
                                    <input type="hidden" name="TicketId" value="@Model.Id" />
                                    <input type="hidden" name="AssignedId" value="@Model.AssignedUserId" />
                                    @*<input type="hidden" name="slug" value="@Model.Slug" />*@
                                </div>
                                <button type="submit" class="btn pull-right c-blue">Send comment</button>
                                <span class="clearfix"></span>
                            </form>
                        }
                        else
                        {
                            <span>
                                Please log in to post a comment.
                            </span>
                        }
                    </div>

                    @foreach (var comment in Model.TicketComments)
                    {
                        <div class="media">

                            <div class="media-body">

                                <p>   @comment.Created  </p>
                                @comment.Comment
                            </div>
                            <div>
                                @if (User.IsInRole("Admin"))
                                {

                                    @Html.ActionLink("Delete Comment", "DeleteComment", "Tickets", new { id = comment.Id }, new { @class = "btn c-blue" })
                                    @Html.ActionLink("Edit Comment", "EditComment", "Tickets", new { id = comment.Id }, new { @class = "btn c-blue" })
                                }
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <h2 class="text-center b-general">
        Add Attachment
    </h2>

    @using (Html.BeginForm("AddAttachment", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal b-general">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div class="col-md-10">

                    <input type="hidden" name="TicketId" value="@Model.Id" />
                    <input type="hidden" name="AssignedId" value="@Model.AssignedUserId" />
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">

                    <textarea class="form-control" name="Description" placeholder="Describe the attachment here..."></textarea>
                </div>
            </div>

            <div class="form-group">

                @Html.Label("Image Upload", htmlAttributes: new { @class = "form-control" })
                <div class="col-md-10">
                    <input type="file" id="fileUpload" name="fileUpload" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Add Attachment" class="btn c-blue" />
                </div>
            </div>
        </div>
    }

    @foreach (var attachment in Model.TicketAttachments)
    {
        <div class="media">

            <div class="media-body">


                <div class="listing-image">
                    <img class="img-responsive" src="@attachment.FileUrl" alt="">

                </div>

                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete Comment", "DeleteAttachment", "Tickets", new { id = attachment.Id }, new { @class = "btn c-blue" })
                    @Html.ActionLink("Edit Comment", "EditComment", "Tickets", new { id = attachment.Id }, new { @class = "btn c-blue" })}
            </div>
        </div>
    }


    @*<div class="row">     <!--  begin add attachement -->
            <div class="col-md-12">
                <div class="w-box blog-post">

                    <div class="comments-wr">
                        <h3 class="section-title">Attachments</h3>

                        <div class="well">
                            <h4>Add an Attachment:</h4>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form class="form-light" action="@Url.Action("AddAttachment","Tickets")" method="post" role="form">

                                    <div class="form-group">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="TicketId" value="@Model.Id" />
                                        <textarea class="form-control" name="Description" placeholder="Describe the attachment here..."></textarea>
                                        @Html.Label("Image Upload", htmlAttributes: new { @class = "form-control" })
                                        <div class="col-md-10">
                                            <input type="file" id="fileUpload" name="fileUpload" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn pull-right c-blue">Add Attachment</button>
                                    <span class="clearfix"></span>
                                </form>
                            }
                            else
                            {
                                <span>
                                    Please log in to add an attachment.
                                </span>
                            }
                        </div>

                        @foreach (var attachment in Model.TicketAttachments)
                        {
                            <div class="media">

                                <div class="media-body">


                                    <div class="listing-image">
                                        <img class="img-responsive" src="@attachment.FileUrl" alt="">

                                    </div>

                                    @if (User.IsInRole("Admin"))
                                    {

                                        @Html.ActionLink("Delete Comment", "DeleteAttachment", "Tickets", new { id = attachment.Id }, new { @class = "btn c-blue" })
                                        @Html.ActionLink("Edit Comment", "EditComment", "Tickets", new { id = attachment.Id }, new { @class = "btn c-blue" })
                                    @*}
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>   <!--  End add Attachment -->*@


    <p>
        @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.Id }, new { @class = "btn br-lblue white" }) 
        <a href="/Home/Main" class="btn btn-primary"> Back to Dashboard</a>

        @*@if (User.IsInRole("Admin")) {
                <a href="@Url.Action("IndexB","Tickets")" class="white"> Back to List</a>}
            @if (User.IsInRole("Project Manager")) {
                <a href="@Url.Action("IndexBp", "Tickets")" class="white"> Back to List</a>}*@
    </p>
</div>