@model BudgetToolRAR.Models.DashBrdViewModel

@*@{
        ViewBag.Title = "Log in";
    }*@

<div class="row">
    <br />
    <div class="col-md-7">
        <section class="widget">
            <header>

                <div class="widget-controls">
                    @*<a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>*@

                </div>
            </header>

            <div class="widget-head br-lblue">
                <h3 class="text-align-center"> Recent Transactions</h3>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-align-center" style="width:90px;">Date</th>
                        <th style="width:100px;">Account</th>
                        <th style="width:100px;">Description</th>
                        <th class="right-J" style="width:30px;">Amount</th>
                    </tr>
                </thead>

                @foreach (var tran in Model.transactionInfo)
                {
                    <tr>
                        <td class="text-align-center" style="width:90px;">@tran.Date.ToString("MM/dd/yyyy")</td>
                        <td style="width:100px;">@tran.AcctName</td>
                        <td style="width:100px;">@tran.Description</td>
                        <td class="right-J" style="width:30px;">@String.Format("{0,1:c}", @tran.Amount)</td>
                    </tr>
                }
            </table>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget">
            <header>

                <div class="widget-controls">


                </div>
            </header>

            <div class="widget-head br-lblue">
                <h3 class="text-align-center"> Account Summary </h3>
            </div>

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th style="width:200px;">Account</th>
                        <th class="right-J" style="width:150px;">Balance</th>
                    </tr>
                </thead>

                @foreach (var act in Model.accountInfo)
                {
                    <tr>
                        <td style="width:200px;">@act.AccountName</td>
                        <td class="right-J" style="width:150px;">@String.Format("{0,5:c}", @act.AccountBalance)</td>
                    </tr>
                }

            </table>

        </section>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <div class="widget-controls">
                </div>
            </header>
            <h3 class="text-align-center">Spending Last Month v.s. Budget</h3>
            <div id="lastMonth">  </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget">
            <header>
                <div class="widget-controls">
                </div>
            </header>
            <h3 class="text-align-center">Spending Current Month v.s. Budget</h3>
            <div id="thisMonth">  </div>
        </section>
    </div>
</div>
<br />
<hr />

<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <div class="widget-controls">
                </div>
            </header>
            <h3 class="text-align-center">Spending Last Month</h3>
            <div id="lastMonthDonut">  </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget">
            <header>
                <div class="widget-controls">
                </div>
            </header>
            <h3 class="text-align-center">Income Last Month</h3>
            <div id="lastMonthDonutI">  </div>
        </section>
    </div>
</div>
<!-- page specific scripts -->
@section scripts
    {
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        $(document).ready(function () {
            $.post("@Url.Action("GetDataAjax2", "DashBrd")").then(function (response) {
                console.log(response)
                new Morris.Bar({
                    element: 'lastMonth',
                    data: response.lastMonth,
                    xkey: 'category',
                    ykeys: ['actual', 'budgeted'],
                    labels: ['Expenses', 'Budgeted'],
                    xLabelMargin: 5
                });

                new Morris.Bar({
                    element: 'thisMonth',
                    data: response.thisMonth,
                    xkey: 'category',
                    ykeys: ['actual', 'budgeted'],
                    labels: ['Expenses', 'Budgeted'],
                    xLabelMargin: 5
                });

                new Morris.Donut({
                    element: 'lastMonthDonut',
                    data: response.lastMonthDonut

                });

                new Morris.Donut({
                    element: 'lastMonthDonutI',
                    data: response.lastMonthDonutI

                });


            })
        })
    </script>
}

@section css {
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
}
