@model BudgetToolRAR.Models.DashBrdViewModel

@*@{
        ViewBag.Title = "Log in";
    }*@


<!-- light-blue - v3.1.0 - 2014-12-06 -->

<!DOCTYPE html>
<html>
<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <meta charset=utf-8 />
    <title></title>
</head>

<body class="background-dark">
    <div class="logo">
        <h3>Budget Tool</h3>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-7">


                <div class="widget-head br-lblue">
                    <h3 class="black"> Recent Transactions</h3>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:90px;">Date</th>
                            <th style="width:100px;">Account</th>
                            <th style="width:100px;">Description</th>
                            <th style="width:50px;">Amount</th>
                        </tr>
                    </thead>

                    @foreach (var tran in Model.transactionInfo)
                    {
                        <tr>
                            <td style="width:90px;">@tran.Date</td>
                            <td style="width:100px;">@tran.AcctName</td>
                            <td style="width:100px;">@tran.Description</td>
                            <td style="width:50px;">@tran.Amount</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-3">

                <div class="widget-head br-lblue">
                    <h3 class="black"> Account Summary </h3>
                </div>

                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th style="width:200px;">Account</th>
                            <th style="width:90px;">Balance</th>
                        </tr>
                    </thead>

                    @foreach (var act in Model.accountInfo)
                    {
                        <tr>
                            <td style="width:200px;">@act.AccountName</td>
                            <td style="width:90px;">@act.AccountBalance</td>
                        </tr>
                    }

                </table>


            </div>

        </div>
        <div class="row">

            <div class="col-md-9">
                <div id="chart2">  </div>
            </div>
        </div>
    </div>
    <!-- page specific scripts -->
    <script>
        $(document).ready(function () {
            $.post("@Url.Action("GetDataAjax2", "DashBrd")").then(function (response) {
                console.log(response)
                new Morris.Bar({
                    element: 'chart2',
                    data: response,
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['Series A', 'Series B']
                });
            })
        })
    </script>





    @section scripts
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script>
            $(document).ready(function () {
                $.post("@Url.Action("GetDataAjax", "DashBrd")").then(function (response) {
                    Console.log(response)
                    new Morris.Bar({
                        element: 'chart',
                        data: response,
                        xkey: 'x',
                        ykeys: ['y'],
                        labels: ['Amount']
                    });
                })
            })
        </script>
    }

    @section css {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    }

</body>
</html>
