@model IEnumerable<Personal_Website_2.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center b-general">Blog Post Details</h2>

<p class="b-general">
   <!-- @Html.ActionLink("Create New", "Create")  -->
   <a href="@Url.Action("Create", "Posts")"class="btn btn-lg c-blue">Create New</a>
</p>
<!-- <div class="container"> -->
    <table class="table b-blog">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width:200px; overflow:hidden;font-size: 14px;">
                    <div style="overflow-y:scroll;max-height:4em;">
                        @Html.DisplayFor(modelItem => item.Created)
                    </div>
                </td>
                <td style="width:200px; overflow:hidden;font-size: 14px;">
                    <div style="overflow-y:scroll;max-height:4em;">
                        @Html.DisplayFor(modelItem => item.Updated)
                    </div>
                </td>
                <td style="width:200px; overflow:hidden;font-size: 14px;">
                    <div style="overflow-y:scroll;max-height:4em;">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                </td>
                <td style="width:250px; overflow:hidden;font-size: 14px;">
                    <div style="overflow-y:scroll;max-height:4em;">
                        @Html.Raw(item.Body)

                    </div>
                </td>
                <td style="width:100px; overflow:hidden;font-size: 14px;">
                    <div style="overflow-y:scroll;max-height:4em;">
                        @Html.DisplayFor(modelItem => item.MediaURL)
                    </div>
                </td>
                <td style="width:200px; overflow:hidden;font-size: 14px;">
                    <div style="overflow-y:scroll;max-height:4em;">
                        @Html.DisplayFor(modelItem => item.Slug)
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { Slug = item.Slug }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
<!--</div>  -->
