@model Personal_Website_2.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center low-back b-log b-general">
    Delete Comment
</h2>

<div>


    <dl class="dl-horizontal low-back b-log">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedReason)
        </dd>

        

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <form method="post">
            <div class="row">
                <div class="col-sm-1">
                   
                </div>
                <div class="col-sm-1">
                   
                </div>
                <div class="col-sm-10">
                    <input type="submit" value="Delete" class="btn btn-default c-blue" />
                </div>
            </div>
           </form>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
                <div class="form-actions">
                    <br />

                    <a href="@Url.Action("Index", "Posts")" class="btn c-blue">Back to List</a>


                </div><!--/.nav-collapse -->
            </div>
            <div class="col-sm-9">
                <div class="navbar-collapse collapse">

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>


</div>
