@model Personal_Website_2.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center low-back b-log b-general">
    Delete Post
</h2>

<div>

    
    <dl class="dl-horizontal low-back b-log">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <div class="row">
            <div class="col-sm-1">
           <!--     <input type="submit" value="Delete" class="btn btn-default btn-two" />  -->
            </div>
            <div class="col-sm-1">
           <!--     <input type="submit" value="Delete" class="btn btn-default btn-two" />  -->
            </div>
            <div class="col-sm-10">
                <input type="submit" value="Delete" class="btn btn-default btn-two" />
            </div>
        </div>
            </div>
            }
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-2">
                        <div class="form-actions">
                        <br />

                            <a href="@Url.Action("Index", "Posts")" class="btn btn-two">Back to List</a>


                        </div><!--/.nav-collapse -->
                    </div>
                    <div class="col-sm-9">
                        <div class="navbar-collapse collapse">

                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>


        </div>
