@model Personal_Website_2.Models.Post

@{
    ViewBag.Title = "Details";
}

<!-- <h2 class="b-blog text-center">Blog Post Details</h2>  -->



<section class="slice bg-3 animate-hover-slide">
    <div class="w-section inverse blog-grid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="w-box blog-post">
                                <div class="figure">
                                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                                    <!-- <img alt="" src="images/prv/wkp-img-1.jpg">  -->
                                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                                    <ul class="meta-list">
                                        <li>
                                            <span>Written by</span>
                                            <span class="bold">Bob Ryzowicz</span>
                                        </li>
                                        <li>
                                            <span>-</span>
                                            @Html.DisplayFor(model => model.Created)
                                            <!-- <a href="#">October 30th, 2013</a>  -->
                                        </li>
                                    </ul>
                                    @Html.Raw(Model.Body)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="w-box blog-post">

                                <div class="comments-wr">
                                    <h3 class="section-title">Comments</h3>

                                    <div class="well">
                                        <h4>Leave a Comment:</h4>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <form class="form-light" action="@Url.Action("AddComment","Posts")" method="post" role="form">

                                                <div class="form-group">
                                                    @Html.AntiForgeryToken()
                                                    <textarea class="form-control" name="Body" placeholder="Write you comment here..."></textarea>
                                                    <input type="hidden" name="PostId" value="@Model.Id" />
                                                    <input type="hidden" name="slug" value="@Model.Slug" />
                                                </div>
                                                <button type="submit" class="btn pull-right c-blue">Send comment</button>
                                                <span class="clearfix"></span>
                                            </form>
                                        }
                                        else
                                        {
                                            <span>
                                                Please log in to post a comment.
                                            </span>
                                        }
                                    </div>

                                    @foreach (var comment in Model.Comments)
                                    {
                                        <div class="media">

                                            <div class="media-body">

                                                <!--     <p>   <small>@comment.Author</small>  </p>  -->
                                                <p>   <small>@comment.Created</small>  </p>
                                                @comment.Body
                                            </div>
                                            <div>
                                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                                {

                                                    @Html.ActionLink("Delete Comment", "CommentIndex", "Posts", new { id = comment.Id }, new { @class = "btn c-blue" })
                                                    @Html.ActionLink("Edit Comment", "EditComment", "Posts", new { id = comment.Id }, new { @class = "btn c-blue" })
                                                }
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-sm-2">

            @if (User.IsInRole("Admin"))
            {

                @Html.ActionLink("Edit Post", "Edit", new { id = Model.Id }, new { @class = "btn c-blue" })

            }
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Index", "Posts")" class="btn c-blue">Back to List</a>
        </div>
 <!--       <div class="col-sm-2">
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {

                @Html.ActionLink("Edit Comment", "CommentIndex", "Posts", new { id = Model.Id }, new { @class = "btn c-blue" })

            }

        </div>
        <div class="col-sm-2">
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {

                @Html.ActionLink("Delete Comment", "CommentIndex", "Posts", new { id = Model.Id }, new { @class = "btn c-blue" })

            }

        </div>   -->
    </div>
</div>
<!--<li class="dropdown b-pad-left97">-->
