@{
    ViewBag.Title = "Users";
}

@*<h2>@ViewBag.Title.</h2>*@
<div class="container">
    <br />
    <h2>Users</h2>
    <br />

    <div>

        <div class=" =" col-md-12">
            <table>
                <thead>
                    <tr>
                        <th style="width:150px;">First Name</th>
                        <th style="width:150px;">Last Name</th>
                        <th style="width:250px;">Email</th>
                        <th style="width:120px;">Action</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td style="width:150px;"> @user.FirstName</td>
                            <td style="width:150px;"> @user.LastName</td>
                            <td style="width:250px;"> @user.Email</td>
                            <td style="width:120px;">
                                @Html.ActionLink("Edit Role", "EditUser", new { id = user.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="container">
    <p>

        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("MainAdmin","DashBrd")" class="btn br-blue white"> Back to Dashboard</a>}

    </p>
</div>



