@model BudgetToolRAR.Models.ChangePasswordViewModel


    <div class="content container">
        <div class="col-md-offset-2 col-md-6">
            <section class="widget">
                <header class="text-align-center">
                    <h4>Change Password Form</h4>
                </header>
                <div class="body">
                    @using (Html.BeginForm("ChangePasswordLb", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset style="padding:15px;">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword)

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg input-transparent" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword)

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg input-transparent" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg input-transparent" })
                                </div>

                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-block btn-lg btn-danger">
                                <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                                <small>Change password</small>
                            </button>
                        </div>
                    }
                </div>

            </section>
        </div>
</div>


