@using PagedList
@using PagedList.Mvc
@using BugtrackerRAR_2.Models


@model PagedList<BugtrackerRAR_2.Models.Project>

@{
    ViewBag.Title = "Index";
}
<link href="/Content/PagedList.css" rel="stylesheet" />
<br />
<h2>Project List</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Projects</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit Project Name", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Assign Users", "AssignUser", "ProjectUsers", new { id = item.Id }, null) |
            @Html.ActionLink("List or Unassign Users", "UnassignUser", "ProjectUsers", new { id = item.Id }, null) 
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
          @*  @Html.ActionLink("Delete", "Delete", new { id=item.Id }) *@
           @*@Html.ActionLink()*@
        </td>
    </tr>
}

</table>
<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            <a href="/Home/Main" class="btn"> Back to Dashboard</a>
        </div>
        <div class="col-sm-9">

        </div>
    </div>
</div>
 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
